html, body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/* Override default side-nav settings of Materialize */
.side-nav {
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0);
}
.side-nav a {
	display: inline;
	line-height: 2;
	padding: 0px;
}
#sidenav-overlay {
	background-color: rgba(0,0,0,0.8);
}
/* Fixed floating menu button */
#menu-button {
	position: absolute;
	right: 2em;
	bottom: 2em;
	z-index: 999;
}
/* Grids of different sizes for menu */
.one-third-grid {
	float: left;
	width: calc(100%/3);
	height: calc(100%/3);
	text-align: center;
}
.half-grid {
	float: left;
	width: calc(100%/2);
	height: calc(100%/3);
	text-align: center;
}
/* Menu icons and labels */
.menu-icon {
	position: relative;
	height: 40%;
	width: auto;
}
.menu-label {
	position: relative;
	width: 100%;
	color: white;
	height: 20%;
}
/* List columns */
.medium {
	height: 10%;
	position: relative;
}
.column {
	margin-bottom: 1em;
	width: 100%;
}
.box {
	height: 100%;
	width: calc(50% - 0.5em);
	padding: 1em;
}
.with-pad {
	margin-right: 1em;
}
/* Home */
#status {
	position: relative;
	width: 100%;
	height: calc((100% - 90vw - 3em - 55.5px) * 0.25);
}
.status-icon {
	max-height: 100%;
	max-width: 100%;
	margin-right: 0.5em;
}
.status-label {
	height: 100%;
	width: 30%;
	overflow: hidden;
}
.image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
/* bubble */
.bubble {
    position: relative;
    width: 250px;
    height: 100px;
    padding: 0px;
    background: #ADB400;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.bubble:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 25px;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #ADB400 transparent;
    display: block;
    width: 0;
    z-index: 1;
}
.frame-style {
	border: 2px solid white;
	border-radius: 0.5em;
	padding: 0.5em;
	color: white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	transition: box-shadow .25s;
}
.frame-wo-pad {
	border: 2px solid white;
	border-radius: 0.5em;
	color: white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	transition: box-shadow .25s;
	margin-bottom: 1em;
}
.frame-wo-border {
	border-radius: 0.5em;
	padding: 0.5em;
	color: white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	transition: box-shadow .25s;
}
/* Plant */
#plant {
	position: relative;
	width: calc(90vw - 4em);
	border-radius: 50%;
	border: solid 1em #F7FAF6;
	height: calc(90vw - 4em);
	margin: 2em auto;
}
.plant-container {
	position: relative;
	width: 100%;
	height: 80%;
}
.my-plant {
	position: relative;
	height: 80%;
	width: 100%;
	background-image: url("../img/plants/002.png");
}
.my-pot {
	position: absolute;
	width: 100%;
	height: 40%;
	bottom: 0%;
	background-image: url("../img/pots/002.png");
}
.arc {
	position: absolute;
	float: left;
	height: calc(50% + 1em);
	width: calc(50% + 1em);
	overflow: hidden;
	transition-property: transform;
	transition-duration: 2s;
	transition-timing-function: linear;
}
#temp_txt {
	position: absolute;
	left: -10%;
	top: 0%;
	text-align: left;
}
#temperature {
	top: -1em;
	left: -1em;
	transform-origin: 100% 100%;
	transform: skewX(90deg);
}
#cohes_txt {
	position: absolute;
	top: 0%;
	right: -10%;
	text-align: right;
}
#coins {
	top: -1em;
	right: -1em;
	transform-origin: 0% 100%;
	transform: skewY(-90deg);
}
#humid_txt {
	position: absolute;
	bottom: 0%;
	left: -10%;
	text-align: left;
}
#humidity {
	bottom: -1em;
	left: -1em;
	transform-origin: 100% 0%;
	transform: skewY(-90deg);
}
#lumin_txt {
	position: absolute;
	bottom: 0%;
	right: -10%;
	text-align: right;
}
#luminous {
	bottom: -1em;
	right: -1em;
	transform-origin: 0% 0%;
	transform: skewX(90deg);
}
.inner {
	content: '';
	box-sizing: border-box;
	height: 200%;
	width: 200%;
	border-radius: 50%;
	transition-property: transform;
	transition-duration: 2s;
	transition-timing-function: linear;
}
#temperature-inner {
	border: solid 1em #EB9486;
	transform: skewX(-90deg);
}
#coins-inner {
	border: solid 1em #FDB17D;
	position: absolute;
	left: -100%;
	transform: skewY(90deg);
}
#humidity-inner {
	border: solid 1em #99A7AF;
	position: absolute;
	top: -100%;
	transform: skewY(90deg);
}
#luminous-inner {
	border: solid 1em #F3DE8A;
	position: absolute;
	left: -100%;
	top: -100%;
	transform: skewX(-90deg);
}
.invisible {
	display: none;
}
/* Init */
#init {
	display: none;
}
/* Info */
.info-header {
	position: relative;
	width: 100%;
	height: 25%;
}
.info-plant {
	position: relative;
	width: 100%;
	height: 50%;
}
.info-bottom {
	position: relative;
	width: 100%;
	height: 25%;
}
.header-circle-1 {
	position: relative;
	top: 1em;
	width: 30vw;
	height: 30vw;
}
.header-circle-1:after {
	position: absolute;
	top: 100%;
	left: 50%;
	content: "";
	height: 30%;
	width: 25%;
	border-left: 2px solid white;
	border-bottom: 4px solid white;
	-moz-transform: skewY(50deg);
	-webkit-transform: skewY(50deg);
	transform: skewY(50deg);
	transform-origin: 0% 0%;
}
.header-circle-1:before {
	position: absolute;
	top: 110%;
	right: 60%;
	content: "姓名";
	color: white;
}
.header-circle-2 {
	position: relative;
	top: 1em;
	width: 25vw;
	height: 25vw;
	left: calc(12.5vw - 1em);
}
.header-circle-2:after {
	position: absolute;
	top: 100%;
	left: 50%;
	content: "";
	height: 50%;
	border-left: 2px solid white;
}
.header-circle-2:before {
	position: absolute;
	top: 110%;
	right: 60%;
	content: "種植日期";
	color: white;
}
.header-circle-3 {
	position: relative;
	left: calc(25vw - 2em);
	top: 3em;
	width: 20vw;
	height: 20vw;
	left: calc(25vw - 2em);
}
.header-circle-3:after {
	position: absolute;
	top: 100%;
	right: 50%;
	content: "";
	height: 30%;
	width: 25%;
	border-right: 2px solid white;
	border-bottom: 4px solid white;
	-moz-transform: skewY(130deg);
	-webkit-transform: skewY(130deg);
	transform: skewY(130deg);
	transform-origin: 100% 0%;
}
.header-circle-3:before {
	position: absolute;
	top: 110%;
	left: 70%;
	content: "品種";
	color: white;
}
.bottom-circle-1 {
	position: relative;
	width: 30vw;
	height: 30vw;
	top: 2em;
	color: black;
}
.bottom-circle-1:after {
	position: absolute;
	top: -50%;
	left: 50%;
	content: "";
	height: 50%;
	width: 25%;
	border-left: 2px solid white;
	border-top: 4px solid white;
	-moz-transform: skewY(130deg);
	transform: skewY(130deg);
	-webkit-transform: skewY(130deg);
	transform-origin: 0% 0%;
}
.bottom-circle-1:before {
	position: absolute;
	bottom: 110%;
	right: 60%;
	content: "親暱度";
	color: white;
}
.bottom-circle-2 {
	position: relative;
	width: 25vw;
	height: 25vw;
	left: calc(12.5vw - 1em);
	top: 3em;
}
.bottom-circle-2:after {
	position: absolute;
	top: -50%;
	left: 50%;
	content: "";
	height: 50%;
	width: 25%;
	border-left: 2px solid white;
}
.bottom-circle-2:before {
	position: absolute;
	bottom: 110%;
	right: 60%;
	content: "角色";
	color: white;
}
.bottom-circle-3 {
	position: relative;
	left: calc(25vw - 2em);
	width: 20vw;
	height: 20vw;
	top: 2em;
}
.bottom-circle-3:after {
	position: absolute;
	bottom: 100%;
	right: 50%;
	content: "";
	height: 50%;
	width: 25%;
	border-right: 2px solid white;
	border-top: 4px solid white;
	-moz-transform: skewY(50deg);
	-webkit-transform: skewY(50deg);
	transform: skewY(50deg);
	transform-origin: 100% 100%;
}
.bottom-circle-3:before {
	position: absolute;
	bottom: 110%;
	right: 0%;
	content: "職業";
	color: white;
}
.valign {
	width: 100%;
}
.circle > .title {
	position: absolute;
	height: 100%;
	left: 0px;
	top: 0px;
	vertical-align: middle;
}
.circle > .contents {
	width: 100%;
}
/* Card style */
.card-style {
	position: relative;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	border-radius: 1em;
	transition: box-shadow .25s;
}
#chat {
	position: relative;
	width: 100%;
	height: calc((100% - 90vw - 3em - 55.5px) * 0.75);
	padding: 1em;
	background-color: white;
	color: black;
	margin-bottom: 2em;
}
.settings-icon {
	height: 100%;
	width: auto;
	margin-right: 1em;
}
/* Small triangle for the chat box. */
#chat:after {
	content: "";
	position: absolute;
	top: -25px;
	right: 25px;
	border-style: solid;
	border-width: 0 20px 25px;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 1;
}
#message {
	position: relative;
	margin-top: 1em;
	width: calc(100% - 55.5px - 3em);
	height: 55.5px;
	padding: 1em;
}
.circle {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
.waves-effect {
	display: flex;
}
#background {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
	background: url("../img/bg.png") no-repeat center center;
	background-size: cover;
}

.page {
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	padding: 1em;
	overflow: hidden;
	position: absolute;
	color: white;
}
#home, #info, #store, #items, #diary, #messages, #settings {
	display: none;
}
.wood {
	background: url("../img/header-background.jpg") center center no-repeat;
	color: white;
}
.full-width {
	width: 100%;
}
.full-height {
	height: 100%;
}
.medium {
	width: 100%;
	height: 10%;
	padding: 10px;
}

.bg-color {
	background-color: #BFDEB9;
}
.theme-accent-0 {
	background-color: #F7FAF6;
}
.theme-accent-1 {
	background-color: #DFEDDC;
}
.theme-accent-2 {
	color: white;
	background-color: #97C78D;
}
.theme-accent-3 {
	background-color: #69A75C;
	color: white;
}
.button-off {
	background-color: #EB9486;
	color: white;
}
.on-off {
	padding-right: 1em;
	height: 100%;
	padding-left: 1em;
}

#menu {
	top: 20%;
	height: 60%;
	position: absolute;
	width: 100%;
	padding: 0px;
}
.plantNumber {
	display: none;
}
/* Items */
div.scroll {
    background-color: transparent;
    width: 100%;
    height: 75%;
    overflow: scroll;
}
.box {
	width: 100%;
    height: 30%;
    margin-bottom: 0.5em;
}
.itemimage{
	display:inline-block;
	width: auto;
    height: 100%;
	z-index:0;
	 float:left;

}

.topic{
	background-color:#C7FE94;
	 width: 60%;
	 border-radius: 5%;
	 text-align: center;
	   color:#51513D;
	    font-size: 15px;
		font-family:Microsoft JhengHei;
		font-weight:bold;
		display:inline-block;
		margin-top:5px;
		margin-right:10px;
		 float:right;
}
.intro{
	 width: 60%;
		color:#FFF;
	 text-align: center;
	    font-size: 13px;
		font-family:Microsoft JhengHei;
		display:block;
		margin-right:10px;
		 float:right;
}
#add-button {
	position: absolute;
	left: 2em;
	bottom: 2em;
}
#add-diary {
	display: none;
}
.modal {
	color: black;
}
#diary-list {
	width: 100%;
	height: 100%;
	overflow: scroll;
}
#emptyDiary {
	width: 100%;
	text-align: center;
}
.ts_chart {
	width: 100%;
	height: 25%;
	border: 0;
	display: block;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}
/* tut*/
.tut_img {
	width: auto;
	height: 70%;
}
.tut_desc {
	width: auto;
	height: 100%;
	text-align: center;
}
#owl-demo {
	height: 100%;
}
#owl-demo>.owl-wrapper-outer {
	height: 100%;
}
#owl-demo>.owl-wrapper {
	height: 100%;
}
#owl-demo>.owl-item {
	height: 100%;
}
#add_plant {
	position: absolute;
	bottom: 2em;
	left: 2em;
}
#add_plant_img {
	position: relative;
	width: 100%;
	height: 50%;
}
.frame-title {
	text-align: center;
	padding: 0.5em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}
.temp {
	background-color: #EB9486;
}
.humid {
	background-color: #99A7AF;
}
.lumin {
	background-color: #F3DE8A;
	color: black;
}
#account {
	width: 100%;
	height: 100%;
}
.answer_true {
	margin-top: 1em;
	margin-left: 5%; 
	float: left;
	width: 40%;
	margin-right: 10%;
	background-color: #97C78D;
	text-decoration: none;
	border-radius: 0.5em;
	text-align: center;
	color: white;
}
.answer_false {
	margin-top: 1em;
	float: left;
	width: 40%;
	background-color: #EB9486;
	text-decoration: none;
	border-radius: 0.5em;
	text-align: center;
	color: white;
}